

/* Основной контейнер для категорий */

.categories {
    display: flex; /* Flex-контейнер для выравнивания элементов по горизонтали */
    justify-content: center; /* Центрирует содержимое по горизонтали */
    padding: 15px 30px; /* Отступы сверху и снизу */
    background-color: #222; /* Темный цвет фона для выделения блока */
     flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку при недостатке места */
}

/* Отступ сверху для секции категорий */
#categories {
    margin-top: 80px; /* Отделяет секцию от верхних элементов */
}

/* Стили для каждой категории */
.category {
    color: #fff; /* Цвет текста для категорий - белый */
    padding: 10px 20px; /* Внутренние отступы (сверху/снизу и слева/справа) */
    margin: 5px; /* Отступы между кнопками категорий */
    cursor: pointer; /* Указатель мыши меняется на "указатель" при наведении */
    font-weight: 500; /* Полужирный текст */
    transition: background-color 0.3s ease, color 0.3s ease, text-decoration 0.3s ease; /* Плавный переход для фона и текста */
    border: 1px solid #f1c40f; /* Желтая рамка вокруг категории */
    border-radius: 25px; /* Закругленные углы рамки */
    position: relative; /* Относительное позиционирование для вложенных элементов (меню) */
}

/* Стили для активных или наведенных категорий */
.category.active,
.category:hover {
    background-color: #f1c40f; /* Цвет фона при наведении - желтый */
    color: #222; /* Цвет текста при наведении - темно-серый */

}

/* Стили для выпадающего меню */
.submenu {
    white-space: nowrap; /* Запрещаем перенос текста */
    width: auto; /* Автоматическая ширина в зависимости от содержимого */
    max-width: 1000px; /* Максимальная ширина меню */
    min-width: 300px; /* Минимальная ширина меню для лучшего отображения */
    position: absolute; /* Абсолютное позиционирование для выпадающего меню */
    top: calc(100% + 10px); /* Располагаем меню под кнопкой категории */
    left: -25%; /* Выравниваем меню по левому краю кнопки категории */
    background-color: rgba(39, 39, 39, 0.95); /* Цвет фона для выпадающего меню с небольшой прозрачностью */
    padding: 15px 30px; /* Отступы внутри меню */
    border-radius: 15px; /* Закругленные углы для меню */
    gap: 90px; /* Промежуток между колонками в меню */
    z-index: 10; /* Уровень слоя, чтобы меню отображалось поверх других элементов */
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавный переход для прозрачности и видимости */
    visibility: hidden; /* Изначально скрываем меню */

}

/* Псевдоэлемент для увеличения области наведения */
.category:hover .submenu::before {
    content: ""; /* Необходим для создания пустого элемента */
    position: absolute;
    top: -10px; /* Поднимаем псевдоэлемент на 10px вверх */
    left: 0; /* Выровнено по левому краю */
    right: 0; /* Выровнено по правому краю */
    bottom: 100%; /* Устанавливаем его под кнопкой */
    height: 10px; /* Высота псевдоэлемента */
}

/* Правило для отображения меню при наведении на категорию */
.category:hover .submenu {
    display: flex; /* Показываем выпадающее меню при наведении на категорию */
    opacity: 1; /* Меню становится видимым */
    visibility: visible; /* Делаем меню видимым */
}

/* Скрытие меню при уходе мыши */
.category .submenu {
    display: none; /* Скрываем меню по умолчанию */
}

/* Стили для колонок внутри выпадающего меню */
.column {
    display: flex; /* Flex-контейнер для вертикального расположения подкатегорий */
    flex-direction: column; /* Элементы выстраиваются в колонку */
}


.subcategory a,
.subsubcategory a{
    text-decoration: none;
    color: #ffffff;

}


/* Стили для подкатегорий */
.subcategory,
.subsubcategory {

    color: #fff; /* Цвет текста подкатегорий - белый */
    padding: 10px 0; /* Отступы сверху и снизу для подкатегорий */
    font-weight: bold; /* Жирный текст для подкатегорий */
    transition: background-color 0.3s ease, text-decoration 0.3s ease; /* Плавный переход цвета фона и подчеркивания */
    position: relative; /* Относительное позиционирование для подкатегорий */
    display: inline-block; /* Используйте inline-block, чтобы элемент занимал ширину контента */
}


.subcategory {
    color: #fff; /* Цвет текста подкатегорий - белый */

    font-weight: bold; /* Жирный текст для подкатегорий */
    font-size: 1.4em; /* Увеличенный размер шрифта для подкатегорий */
    margin-bottom: 10px; /* Отступ снизу для подкатегорий */
    transition: background-color 0.3s ease, text-decoration 0.3s ease; /* Плавный переход цвета фона и подчеркивания */
    position: relative; /* Относительное позиционирование для подкатегорий */
}



/* Стили для активных или наведенных категорий */
.category.active,
.category:hover {
    background-color: #f1c40f; /* Цвет фона при наведении - желтый */
    color: #222; /* Цвет текста при наведении - темно-серый */

}


/* Эффект тени для текста при наведении */
.subcategory:hover,
.subsubcategory:hover {
    text-shadow: 0 0 15px rgba(150, 150, 150, 1), /* Основная тень (еще темнее) */
                 0 0 30px rgba(150, 150, 150, 0.5); /* Вторая тень для подсветки (еще темнее) */
}

/* Эффект тени для полоски при наведении */
.subcategory:hover::after,
.subsubcategory:hover::after {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1), /* Тень полоски */
                0 0 20px rgba(255, 255, 255, 0.5); /* Более размытую тень */
}



@media (max-width: 600px) {
    .categories {
        padding: 20px 0; /* Уменьшение отступов на маленьких экранах */
    }

    .category {
        flex: 45%; /* Каждая категория будет занимать всю ширину строки */
        margin: 5px 0; /* Убрать боковые отступы для удобства */
    }
}







